@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(240, 20%, 95.1%);
    --foreground: hsl(0, 0%, 3.9%);

    --primary: hsl(270, 58.88%, 58.04%);
  }
}

.dark {
  --background: hsl(240, 8.33%, 9.41%);
  --foreground: hsl(0, 0%, 98%);

  --primary: hsl(269.73, 55.78%, 60.98%);
}
